Desafios do curso *Trabalhando com Funções, estruturas de dados e exceções* da formação **Python para Data Science** da Alura

Aula 01. Bibliotecas

In [1]:
# Instalação da biblioteca matplotlib na versão 3.7.1:
!pip install matplotlib==3.7.1

Requirement already satisfied: matplotlib==3.7.1 in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.16.0)

In [2]:
# Importação da biblioteca numpy com o alias np:

import numpy as np

In [3]:
# Escolha aleatória de um número da lista:

import random

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
numero_aleatorio = random.choice(lista)
print(f"O número escolhido foi: {numero_aleatorio}")

O número escolhido foi: 1

In [4]:
# Sorteio de um número inteiro positivo menor que 100:

import random

numero_aleatorio = random.randrange(100)
print(f"O número sorteado é: {numero_aleatorio}")

O número sorteado é: 17

In [5]:
# Cálculo da potência do primeiro número elevado ao segundo:

import math

num1 = int(input("Digite o primeiro número: "))
num2 = int(input("Digite o segundo número: "))

potencia = math.pow(num1, num2)
print(f"{num1} elevado a {num2} é: {potencia}")

Digite o primeiro número: 8
Digite o segundo número: 4
8 elevado a 4 é: 4096.0

In [7]:
# Sorteio de um participante de acordo com o número de participantes:

import random

num_participantes = int(input("Digite o número de participantes: "))
num_sorteado = random.randrange(1, num_participantes + 1)
print(f"O número sorteado foi: {num_sorteado}")

Digite o número de participantes: 200
O número sorteado foi: 57

In [8]:
# Geração de token par para acesso ao aplicativo:

import random

nome = input("Digite seu nome: ")
token = random.randrange(1000, 9999, 2)
print(f"Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!")

Digite seu nome: William
Olá, William, o seu token de acesso é 7984! Seja bem-vindo(a)!

In [9]:
# Seleção aleatória de 3 frutas de uma lista de 12:

import random

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

frutas_sorteadas = random.sample(frutas, 3)
print(f"As frutas sorteadas foram: {frutas_sorteadas}")

As frutas sorteadas foram: ['laranja', 'melancia', 'coco']

In [10]:
# Identificação de números com raízes quadradas inteiras:

import math

numeros = [2, 8, 15, 23, 91, 112, 256]
numeros_com_raiz_inteira = []

for numero in numeros:
    raiz = math.sqrt(numero)
    if raiz // 1 == raiz:
        numeros_com_raiz_inteira.append((numero, int(raiz)))

print("Números com raízes inteiras e seus valores:")
for numero, raiz in numeros_com_raiz_inteira:
    print(f"{numero}: {raiz}")

Números com raízes inteiras e seus valores:
256: 16

In [12]:
# Cálculo do valor a ser pago pela grama de um jardim circular:

import math

raio = float(input("Digite o raio do jardim em metros: "))
preco_m2 = 25.00

area = math.pi * math.pow(raio, 2)
custo = area * preco_m2

print(f"O valor a ser pago pela grama é: R$ {custo:.2f}")

Digite o raio do jardim em metros: 3
O valor a ser pago pela grama é: R$ 706.86

**Aula 02. Funções**

In [13]:
# 1. Escreva um código que lê a lista abaixo e faça:
# lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# A leitura do tamanho da lista
# A leitura do maior e menor valor
# A soma dos valores da lista

# Lista fornecida
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

# Calculando o tamanho da lista
tam = len(lista)

# Encontrando o maior e menor valor da lista
maior = max(lista)
menor = min(lista)

# Somando os valores da lista
soma = sum(lista)

# Exibindo a mensagem final
print(f"A lista possui {tam} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores presentes nela é igual a {soma}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

In [15]:
# 2. Tabuada

def gerar_tabuada(num):
    print(f"Tabuada do {num}:")
    for i in range(11):
        print(f"{num} x {i} = {num * i}")

# Exemplo de uso
numero = int(input("Digite um número para gerar a tabuada: "))
gerar_tabuada(numero)

Digite um número para gerar a tabuada: 8
Tabuada do 8:
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [16]:
#3. Múltiplos de 3

def multiplos_de_3(lista):
    return [x for x in lista if x % 3 == 0]

# Lista fornecida
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

# Chamando a função e salvando o resultado em mult_3
mult_3 = multiplos_de_3(lista)

# Exibindo o resultado
print(mult_3)

[24, 99]

In [18]:
# 4. Quadrados dos números

# Lista fornecida
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Usando map() e lambda para calcular os quadrados
quadrados = list(map(lambda x: x ** 2, lista))

# Exibindo o resultado
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
# 5. Pontuação dos skatistas

def calcular_pontuacao():
    notas = []
    for i in range(5):
        nota = float(input(f"Digite a {i+1}ª nota: "))
        notas.append(nota)

    # Eliminando a maior e a menor nota
    notas.remove(max(notas))
    notas.remove(min(notas))

    # Calculando a média das 3 notas restantes
    media = sum(notas) / len(notas)

    # Exibindo a média
    print(f"Nota da manobra: {media:.2f}")

# Chamando a função
calcular_pontuacao()

Digite a 1ª nota: 96
Digite a 2ª nota: 84
Digite a 3ª nota: 87
Digite a 4ª nota: 90
Digite a 5ª nota: 92
Nota da manobra: 89.67

In [20]:
# 6. Análise de desempenho de estudantes

def analise_desempenho(notas):
    maior = max(notas)
    menor = min(notas)
    media = sum(notas) / len(notas)
    situacao = "Aprovado(a)" if media >= 6 else "Reprovado(a)"

    # Exibindo o resultado
    print(f"O(a) estudante obteve uma média de {media:.2f}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}")

# Exemplo de uso
notas = [7.5, 8.0, 5.0, 6.5]
analise_desempenho(notas)

O(a) estudante obteve uma média de 6.75, com a sua maior nota de 8.0 pontos e a menor nota de 5.0 pontos e foi Aprovado(a)

In [21]:
# 7. Concatenando nomes e sobrenomes

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

# Usando map() e funções de string para concatenar e formatar os nomes
nomes_completos = list(map(lambda n, s: n.capitalize() + " " + s.capitalize(), nomes, sobrenomes))

# Exibindo o resultado
for nome in nomes_completos:
    print(f"Nome completo: {nome}")

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares

In [22]:
# 8. Calculando a pontuação do time

def calcula_pontos(gols_marcados, gols_sofridos):
    pontos = 0
    total_jogos = len(gols_marcados)

    for marcados, sofridos in zip(gols_marcados, gols_sofridos):
        if marcados > sofridos:
            pontos += 3  # Vitória
        elif marcados == sofridos:
            pontos += 1  # Empate

    # Aproveitamento
    pontuacao_maxima = total_jogos * 3
    aproveitamento = (pontos / pontuacao_maxima) * 100

    return pontos, round(aproveitamento, 2)

# Exemplo de uso
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]
pontos, aproveitamento = calcula_pontos(gols_marcados, gols_sofridos)

print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {aproveitamento}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 46.67%

In [26]:
# 9. Cálculo de gastos de viagem

def gasto_hotel(dias):
    return dias * 150

def gasto_gasolina(distancia):
    litros = distancia / 14  # Consumo de 14 km/l
    return litros * 5  # Valor da gasolina

def gasto_passeio(dias, cidade):
    custos = {"Salvador": 200, "Fortaleza": 400, "Natal": 250, "Aracaju": 300}
    return dias * custos[cidade]

# Simulação de viagem
dias = 3
cidade = "Salvador"
distancia = 850 * 2  # Ida e volta

gasto_total = round(gasto_hotel(dias) + gasto_gasolina(distancia) + gasto_passeio(dias, cidade), 2)
print(f"Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife custaria R$ {gasto_total:.2f}")

Com base nos gastos definidos, uma viagem de 3 dias para Salvador saindo de Recife custaria R$ 1657.14

In [27]:
# 10. Filtrando palavras maiores ou iguais a 5 caracteres

def filtrar_palavras(frase):
    frase = frase.replace(',', '').replace('.', '').replace('!', '').replace('?', '')
    palavras = frase.split()
    return list(filter(lambda x: len(x) >= 5, palavras))

# Exemplo de uso
frase = "Aprender Python aqui na Alura é muito bom"
palavras_filtradas = filtrar_palavras(frase)

# Exibindo o resultado
print(palavras_filtradas)

['Aprender', 'Python', 'Alura', 'muito']

**Aula 03. Estrutura de Dados**

In [28]:
# Soma dos elementos de cada lista:

lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]
soma_listas = [sum(lista) for lista in lista_de_listas]
print(soma_listas)

[24, 10, 16]

In [29]:
# Terceiro elemento de cada tupla:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
terceiro_elemento = [tupla[2] for tupla in lista_de_tuplas]
print(terceiro_elemento)

[81, 67, 83]

In [30]:
# Lista de tuplas com a posição e o nome:

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_posicao_nome = [(index, nome) for index, nome in enumerate(lista)]
print(lista_posicao_nome)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [31]:
# List comprehension para valores de 'Apartamento':

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
valores_apartamento = [valor for tipo, valor in aluguel if tipo == 'Apartamento']
print(valores_apartamento)

[1700, 1400, 1900]

In [35]:
# Dict comprehension para meses e despesas:

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
despesas_mensais = {mes: valor for mes, valor in zip(meses, despesa)}
print(despesas_mensais)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

In [33]:
# Filtragem de vendas de 2022:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859),
          ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178),
          ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680),
          ('2022', 5616)]
vendas_2022 = [valor for ano, valor in vendas if ano == '2022' and valor > 6000]
print(vendas_2022)

[8883, 7688, 9544, 8190]

In [34]:
# Rotulagem de dados de glicemia:

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
rotulos_glicemia = [('Diabetes' if valor > 125 else 'Alterada' if valor > 99 else 'Normal' if valor >= 70 else 'Hipoglicemia', valor) for valor in glicemia]
print(rotulos_glicemia)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [36]:
# Lista de tuplas com id, quantidade, preço e total:

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
tabela_vendas = [('id', 'quantidade', 'preco', 'total')] + [(i, q, p, q * p) for i, q, p in zip(id, quantidade, preco)]
print(tabela_vendas)

[('id', 'quantidade', 'preco', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

In [37]:
# Contagem de filiais por Estado:

estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
contagem_filiais = {estado: estados.count(estado) for estado in set(estados)}
print(contagem_filiais)

{'ES': 6, 'RJ': 2, 'MG': 7, 'SP': 8}

In [38]:
# Dicionário de colaboradores por Estado:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES', 9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG', 8), ('ES', 8), ('SP', 9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

colaboradores_por_estado = {estado: [qtd for e, qtd in funcionarios if e == estado] for estado in set(estados)}
soma_colaboradores_por_estado = {estado: sum(qtds) for estado, qtds in colaboradores_por_estado.items()}

print(colaboradores_por_estado)
print(soma_colaboradores_por_estado)

{'ES': [8, 9, 7, 12, 8, 14], 'RJ': [13, 9], 'MG': [9, 6, 4, 8, 5, 10, 12], 'SP': [16, 10, 7, 11, 9, 12, 7, 10]}
{'ES': 58, 'RJ': 22, 'MG': 54, 'SP': 82}

**Aula 04. Lidando com Exeções**

In [41]:
# 1. Divisão de dois números float com tratamento de exceções

def dividir_numeros():
    try:
        num1 = float(input("Digite o primeiro número: "))
        num2 = float(input("Digite o segundo número: "))
        resultado = num1 / num2
        print(f"O resultado da divisão é: {resultado:.2f}")
    except ZeroDivisionError as e:
        print(f"Erro: {e}. Não é possível dividir por zero.")
    except ValueError as e:
        print(f"Erro: {e}. Por favor, insira valores numéricos válidos.")

# Testando a função
dividir_numeros()

Digite o primeiro número: 18
Digite o segundo número: 8
O resultado da divisão é: 2.25

In [43]:
# 2. Pesquisa em dicionário com tratamento de exceções

def pesquisar_nome():
    idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}
    nome = input("Digite o nome a ser pesquisado: ")
    try:
        idade = idades[nome]
        print(f"A idade de {nome} é {idade}.")
    except KeyError:
        print("Nome não encontrado.")

# Testando a função
pesquisar_nome()

Digite o nome a ser pesquisado: Micheli
Nome não encontrado.

In [46]:
# 3. Conversão de valores da lista para float com tratamento de exceções

def converter_para_float(lista):
    try:
        lista_float = [float(item) for item in lista]
        return lista_float
    except ValueError as e:
        print(f"Erro: {e}. Certifique-se de que todos os itens são numéricos.")
    finally:
        print("Fim da execução da função.")

# Testando a função
lista_teste = [1.5, 2.0, "w"]
print(converter_para_float(lista_teste))

Erro: could not convert string to float: 'w'. Certifique-se de que todos os itens são numéricos.
Fim da execução da função.
None

In [47]:
# 4. Agrupamento de listas em tuplas com tratamento de exceções

def agrupar_listas(lista1, lista2):
    try:
        if len(lista1) != len(lista2):
            raise IndexError("A quantidade de elementos em cada lista é diferente.")
        lista_tuplas = [(x, y, x + y) for x, y in zip(lista1, lista2)]
        return lista_tuplas
    except IndexError as e:
        print(f"Erro: {e}.")
    except TypeError as e:
        print(f"Erro: {e}. Certifique-se de que todos os itens são numéricos.")

# Testando a função
lista1 = [4, 6, 7, 9, 10]
lista2 = [-4, 6, 8, 7, 9]
print(agrupar_listas(lista1, lista2))

lista1 = [4, 6, 7, 9, 10, 4]
lista2 = [-4, 6, 8, 7, 9]
print(agrupar_listas(lista1, lista2))

lista1 = [4, 6, 7, 9, 'A']
lista2 = [-4, 'E', 8, 7, 9]
print(agrupar_listas(lista1, lista2))

[(4, -4, 0), (6, 6, 12), (7, 8, 15), (9, 7, 16), (10, 9, 19)]
Erro: A quantidade de elementos em cada lista é diferente..
None
Erro: unsupported operand type(s) for +: 'int' and 'str'. Certifique-se de que todos os itens são numéricos.
None

In [48]:
# 5. Contabilização de pontuações de estudantes com tratamento de exceções

def calcular_notas(gabarito, testes):
    try:
        notas = []
        for teste in testes:
            if any(resposta not in ['A', 'B', 'C', 'D'] for resposta in teste):
                raise ValueError(f"A alternativa {teste} não é uma opção de alternativa válida.")
            nota = sum(1 for g, t in zip(gabarito, teste) if g == t)
            notas.append(nota)
        return notas
    except ValueError as e:
        print(f"Erro: {e}")

# Testando a função
gabarito = ['D', 'A', 'B', 'C', 'A']
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]

print(calcular_notas(gabarito, testes_sem_ex))
print(calcular_notas(gabarito, testes_com_ex))

[5, 3, 3]
Erro: A alternativa ['C', 'A', 'A', 'E', 'A'] não é uma opção de alternativa válida.
None

In [49]:
# 6. Verificação de pontuação em palavras com tratamento de exceções

def verificar_pontuacao(lista_palavras):
    try:
        for palavra in lista_palavras:
            if any(p in palavra for p in [',', '.', '!', '?']):
                raise ValueError(f"O texto apresenta pontuações na palavra '{palavra}'.")
        print("Nenhuma pontuação encontrada nas palavras.")
    except ValueError as e:
        print(f"Erro: {e}")

# Testando a função
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
                 'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
                 'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']

lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                     'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                     'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']

verificar_pontuacao(lista_tratada)
verificar_pontuacao(lista_nao_tratada)

Nenhuma pontuação encontrada nas palavras.
Erro: O texto apresenta pontuações na palavra 'poderosa,'.

In [52]:
# 7. Divisão de colunas com tratamento de exceções

def divide_colunas(pressoes, temperaturas):
    try:
        if len(pressoes) != len(temperaturas):
            raise ValueError("As listas de pressões e temperaturas devem ter o mesmo tamanho.")

        resultado = [round(p / t, 2) for p, t in zip(pressoes, temperaturas)]
        return resultado
    except ZeroDivisionError:
        print("Erro: Divisão por zero detectada.")
    except ValueError as e:
        print(f"Erro: {e}")

# Testando a função
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]
print(divide_colunas(pressoes, temperaturas))

pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]
print(divide_colunas(pressoes, temperaturas))

pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]
print(divide_colunas(pressoes, temperaturas))

[5.0, 4.8, 4.67, 4.57, 4.5]
Erro: Divisão por zero detectada.
None
Erro: As listas de pressões e temperaturas devem ter o mesmo tamanho.
None